
<app-navbar></app-navbar>
<div style="display: flex;">
    <div style="display: flex;width: 5%;padding: 2px;border: black 1px solid;">
        <app-menu></app-menu>

    </div>
    <!-- <div style="display: flex;width:95%" >
        <div style="width: 100%;margin: 1%;">
        <app-notes></app-notes>
         <router-outlet></router-outlet> 
     </div> -->
    <div style="display: flex;width:95%" >
        <div style="width: 100%;">
        <app-lists></app-lists>
    </div> 
    </div>
</div>
