<mat-grid-list cols="4" rowHeight="1:1.1">
    <mat-grid-tile  *ngFor="let notes of userNotes;let i=index" [rowspan]=1 >
<div style="width: 100%;height: 100%;">
    <div style="border:#f44336 1px solid;border-radius: 5px;width:90%;height: 90%;" (click)=openDialog(notes.title.title,i)>
    <div class="notesTitle">
        {{notes.title.title}}
    </div>
    <div class="notesDes">
{{notes.description}}
    </div>
    <div class="chip">
    <mat-chip-list style="padding-top:5px; padding-left: 5px;">
        <mat-chip  *ngFor="let option of notes.tags" [selectable]="selectable">
            <div  class="chipdisp">
                {{option}}

            </div>
    
  </mat-chip>
        </mat-chip-list>
        </div>
</div>
</div>
       </mat-grid-tile>
  </mat-grid-list>
<!-- <app-edit-notes [title]="title"></app-edit-notes> -->

  
