
    <mat-grid-list cols="20" rowHeight="50px" style="background-color:  #3f51b5;">
        <mat-grid-tile [colspan]=1><mat-icon>menu</mat-icon></mat-grid-tile>
        <mat-grid-tile [colspan]=3><span style="color: white;">{{valueDate | date:'EEEE, MMMM d, y'}}</span></mat-grid-tile>
        <mat-grid-tile [colspan]=12></mat-grid-tile>
        <mat-grid-tile [colspan]=1>
            <button mat-icon-button><mat-icon>search</mat-icon></button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1><button mat-icon-button><mat-icon>grid_view</mat-icon></button></mat-grid-tile>
        <mat-grid-tile [colspan]=1><button mat-icon-button (click)="openSettings()"><mat-icon>settings</mat-icon></button></mat-grid-tile>
        <mat-grid-tile [colspan]=1><button mat-icon-button (click)="openAccounts()"><mat-icon>account_circle</mat-icon></button></mat-grid-tile>

      </mat-grid-list>

  